[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"

[packages]
pandas = "*"
numpy = "*"
sklearn = "*"
tqdm = "*"
notebook = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
format = "black"
lint = "flake8 --ignore=E501,W503"
main = "python main.py"
notebook = "jupyter notebook"
